.nineworlds-container {
  background-color: #773344;
  display: flex;
  justify-content: center;

  .nineworlds-content {
    max-width: 70vw;
    margin-bottom: 4rem;

    P {
      padding-bottom: 2.7rem;
    }
    img {
      object-fit: contain;
      width: 40vw;
      margin-bottom: 5rem;
    }
    h1 {
      padding: 4rem;
      font-size: 3.5rem;

      font-family: Norse;
    }
    h2 {
      padding: 1.5rem;
      font-size: 2.2rem;
    }
    h3 {
      padding: 1rem;
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 768px) {
  .nineworlds-container {
    .nineworlds-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90vw;
      max-width: 90vw;
      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 70vw;
      }
      p {
        max-width: 70vw;
      }
      h1 {
        font-size: 2.5rem;
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
        width: 90%;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}
