@font-face {
    font-family: 'Norse';
    src: url('../../public/font/Norse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Norse';
    src: url('../../public/font/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }