.FinViking-container {
  background-color: #002e2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .FinViking-content {
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .lastviking-img-div {
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 5rem;
      margin-bottom: 5rem;
      .lastviking-img-div-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
      }
      img {
        width: 35vw;
        margin-right: 4rem;
      }
    }
    P {
      padding-bottom: 2.7rem;
    }

    h1 {
      padding: 4rem;
      font-size: 3.5rem;

      font-family: Norse;
    }
    h2 {
      padding: 1.5rem;
      font-size: 2.2rem;
    }
    h3 {
      padding: 1rem;
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 768px) {
  .FinViking-container {
    .FinViking-content {
      h1 {
        font-size: 2.5rem;
        padding: 0;
        padding-top: 3rem;
      }
      h2 {
        font-size: 1.8rem;
        width: 90vw;
      }
      p {
        max-width: 70vw;
      }
      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .lastviking-img-div {
        flex-direction: column;
        img {
          width: 70vw;
          margin: 0;
        }
        .lastviking-img-div-content {
          padding: 0;
        }
      }
    }
  }
}
