.site-footer {
  background-color: #dbd3c9;
  color: black;
  padding: 4rem;
  font-size: 14px;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  p {
    margin: 0;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;

    li {
      display: inline;
      margin: 0 15px;

      a {
        color: darkblue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
